<section class="container-login">
    <div class="container" id="container">
    <div class="logo">
    </div>
    <div class="form-container sign-in">
        <h4 class="titulo2">Por favor, identifiquese</h4>
        <form [formGroup]="formLogin" (ngSubmit)="sendUser()">
        <input class="estilo_caja" placeholder="Usuario" formControlName="user">
        <input class="estilo_caja2" type="password" placeholder="Contraseña" formControlName="password">
        <label class="color">
            <button>Iniciar Sesión</button>
        </label>
        <a  href="#">¿Olvido Su Contraseña?</a>
        </form>
    </div>
    </div>
</section>

