@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.container-login {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://www.icacit.org.pe/web/images/UPeU_Lima.jpg');
}
/* Para que pongan su logo*/
.logo {
    background-image: url('/assets/logo_upeu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-bottom: 45px;
}
.container {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    /* Para centrar verticalmente */
    justify-content: center;
    /* Para centrar verticalmente */
    align-items: center;
    width: 485px;
    height: 538px;
}

.container a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    font-family: 'Comic Neue', cursive;
    background: rgba(255, 255, 255, 0.50);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 15px;
    cursor: pointer;
}


.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


.estilo_caja {
    color: black;
    border: 1px solid #000;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 2vw;
    font-family: 'Comic Neue', cursive;
    font-size: 18px;
    text-align: left;
}
.estilo_caja2 {
color: black;
border: 1px solid #000;
border-radius: 1vw;
background-color: rgba(255, 255, 255, 0);
padding: 5px 2vw;
font-family: 'Comic Neue', cursive;
font-size: 18px;
text-align: left;

}

.container button {
    color: #FFF;
    text-align: center;
    font-size: 1vw;
    font-family: 'Merriweather', serif;
    border-radius: 1rem;
    background: #FFD600;
}
.titulo2{
color: #444344;
font-size: 1vw;
position: relative;
left: 3vw;
}