<nav class="menu__side">
  <div class="name__page">
    <img src="assets/img/upeu.jpg" width="60px" [routerLink]="['/home/sidebar/welcome']" >
  </div>
  <ul class="options__menu">
    <li>
     <a class="option" [routerLink]="['/home/sidebar/portal-coordinador/docint/listadocint']">
        <mat-icon title="docint" svgIcon="docint"></mat-icon>
        <h4><strong>Documento Intervencion</strong></h4>
     </a>
    </li>
    <li>
      <mat-expansion-panel id="despegable">
        <mat-expansion-panel-header>
          <mat-icon class="" title="proyecto" svgIcon="proyecto"></mat-icon>
          <h4 class="opproyecto"><strong>Proyecto</strong></h4>
        </mat-expansion-panel-header>
        <ul>
          <li class="op">
            <a class="option" [routerLink]="['/home/sidebar/portal-coordinador/proyecto/listapy']">
              <h4><strong>Perfil</strong></h4>
            </a>
          </li>
          <li class="op">
            <a class="option" href="#">
              <h4><strong>Validación</strong></h4>
            </a>
          </li>
          <!-- Agrega más subopciones si es necesario -->
        </ul>
      </mat-expansion-panel>
    </li>

    <li>
      <a class="option"   [routerLink]="['/home/sidebar/portal-coordinador/validarinf/listar-inf']">
        <mat-icon class="arreglo" title="informe" svgIcon="informe"></mat-icon>
        <h4 class="arregloa"><strong>Informe</strong></h4>
      </a>
    </li>

    <li>
     <a class="option"  href="#">
       <mat-icon class="arreglo" title="actividad" svgIcon="actividad"></mat-icon>
       <h4 class="arregloa"><strong>Actividad</strong></h4>
     </a>
    </li>

    <li>
      <a class="option" [routerLink]="['/modules']">
        <mat-icon class="arreglo" title="regresardashboard" svgIcon="regresardashboard"></mat-icon>
        <h4 class="arregloa"><strong>Salir</strong></h4>
      </a>
     </li>
  </ul>
</nav>
