<h2 class="header-form">INFORME</h2>

<div id="contenedor2">
    <button class="buttonregis" mat-fab extended color="primary" [routerLink]="['/home/sidebar-alumno/portal-alumno/informe/agregar-informe']">
      <mat-icon id="iconagregar" svgIcon="agregar"></mat-icon>
      <span id="nuevodoc">Nuevo Informe</span>
    </button>
  </div>


<div class="flex-container">
<div class="custom-box">
    <div class="custom-text">LA HORA DEL CÓDIGO</div>
    <div class="custom-binary">NÚMEROS BINARIOS</div>
    <div class="team-name">EQUIPO 3</div>
    <div class="custom-fech">2023 - 1</div>
    <div class="custom-fac">FIA</div>
    <div class="custom-ep">Ingeniería de sistemas</div>
    <div class="icons">
      <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
      (click)="prueba()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
      (click)="prueba()">
      <mat-icon>check_circle_outline</mat-icon>
      </button>
    </div>
</div>
<div class="custom-box">
    <div class="custom-text">LA HORA DEL CÓDIGO</div>
    <div class="custom-binary">NÚMEROS BINARIOS</div>
    <div class="team-name">EQUIPO 3</div>
    <div class="custom-fech">2023 - 1</div>
    <div class="custom-fac">FIA</div>
    <div class="custom-ep">Ingeniería de sistemas</div>
    <div class="icons">
      <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
      (click)="prueba()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
      (click)="prueba()">
      <mat-icon>check_circle_outline</mat-icon>
      </button>
    </div>
</div>
<div class="custom-box">
    <div class="custom-text">LA HORA DEL CÓDIGO</div>
    <div class="custom-binary">NÚMEROS BINARIOS</div>
    <div class="team-name">EQUIPO 3</div>
    <div class="custom-fech">2023 - 1</div>
    <div class="custom-fac">FIA</div>
    <div class="custom-ep">Ingeniería de sistemas</div>
    <div class="icons">
      <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
      (click)="prueba()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
      (click)="prueba()">
      <mat-icon>check_circle_outline</mat-icon>
      </button>
    </div>
</div>
<div class="custom-box">
    <div class="custom-text">LA HORA DEL CÓDIGO</div>
    <div class="custom-binary">NÚMEROS BINARIOS</div>
    <div class="team-name">EQUIPO 3</div>
    <div class="custom-fech">2023 - 1</div>
    <div class="custom-fac">FIA</div>
    <div class="custom-ep">Ingeniería de sistemas</div>
    <div class="icons">
      <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
      (click)="prueba()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
      (click)="prueba()">
      <mat-icon>check_circle_outline</mat-icon>
      </button>
    </div>
</div>
</div>
