<form class="example-form">
  <h2 class="header-form">PROYECTO</h2>
  <div class="buscador">
    <div class="colum">
      <form class="nombrebuscar">
        <label for="">Nombre de proyecto</label>
        <input class="prueba" placeholder="Ingresar Nombre"  type="text">
      </form>
      <div class="iconbuscar">
        <button mat-mini-fab color="basic" aria-label="Example icon button with a search icon"
                  (click)="prueba">
                <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div class="colum2">
      <form class="form">
        <label for="">Tipo</label>
        <select class="" class="select">
          <option value="" disabled selected>Seleccionar</option>
          <option id="tipodi" [value]="item" *ngFor="let item of tipospy"> {{item.nombre}}
          </option>
        </select>
      </form>
      <form class="form">
        <label for="">Semestre</label>
        <select name="asd" class="select">
          <option value="" disabled selected>Seleccionar</option>
          <option [value]="item" *ngFor="let item of semestres"> {{item.nombre}}
          </option>
        </select>
      </form>

    </div>
  </div>

</form>
<div id="contenedor2">
  <button class="buttonregis" mat-fab extended color="primary" [routerLink]="['/home/sidebar/portal-coordinador/proyecto/registrarpy']">
    <mat-icon id="iconagregar" svgIcon="agregar"></mat-icon>
    <span id="nuevodoc">Nuevo Proyecto</span>
  </button>
</div>
<div id="darforma">
  <div id="contenedor3">
    <mat-card class="example-card" id="table">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header> -->
      <div class="mat-elevation-z8">
        <table mat-table #table matSort [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let item "> {{item.id}} </td>
          </ng-container>

          <ng-container matColumnDef="nombrepy">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Nombre de Proyecto</th>
            <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let item"> {{item.tipopro.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="semestre">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Semestre</th>
            <td mat-cell *matCellDef="let item"> {{item.semestre.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="localidad">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Localidad</th>
            <td mat-cell *matCellDef="let item"> {{item.zintervencion}} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let item"> {{item.estado}} </td>
          </ng-container>


          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let item">

              <div class="example-button-container">
                <button mat-mini-fab color="basic" aria-label="Example icon button with a edit icon"
                (click)="prueba">
                <mat-icon>visibility</mat-icon>
                </button>
                <button mat-mini-fab color="basic" aria-label="Example icon button with a visibilityicon"
                  (click)="prueba">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="basic" aria-label="Example icon button with a delete icon"
                  (click)="prueba">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" id="headertable"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-card>

  </div>

</div>
