* {
  margin: 0;
  padding: 0;
}

#contenedorprincipal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/img/fondoupeu.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
}


.margen {
  animation: go-back 1s;
  width: 70%;
  height: 220px;
  border-radius: 60px;
  background-color: #0009;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

}


.texto {
  width: 60%;
  height: 60px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  justify-content: center;
  margin: 0;
  margin-right: 0;

}

.barra {
  height: auto;
  animation: go_barra 1s;
  text-align: center;
  width: 35%;
  height: 100%;
  /* border: 6px solid #cb9624; */
  background: #000718;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#upeu_derecha {
  width: 18%;
  height: 100%;
}
#upeu1 {
  margin-left: 10px;
  width: 40%;
  height: 80%;
}
#barra_1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

#fondo_login {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/pictures/fondo_login.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: inline;
}

.login {
  margin: 0 auto;
  width: 613px;
  height: 685px;
  border-radius: 50px;
  border: 5px solid #FFD600;
  background: rgba(1, 66, 119, 0.95);
}

.contenido_opciones {

  width: 30%;
  height: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.persona {
  animation: go_barra 1s;
  margin-top: 60px;
  width: 180px;
  height: 180px;
}

.nombre_sede {
  animation: go_barra 1s;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: #FFF;
  font-size: 20px;

}


.sede {
  animation: go_barra 1s;
  margin-top: 15px;
  color: #F7A800;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#btcerrar{
  background: #F7A800;
  border-radius: 25px;
  color: white;
  width: 40% ;
}

.cerrar_sesion {
  animation: go_barra 1s;
  margin-top: 15px;
  margin-left: 95px;
  width: 140px;
  height: 35px;
  border-radius: 50px;
  background: #F7A800;
  text-align: center;
}
#contenedorbt{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center ;
}
.imgopc{
  width: 60%;
  height: 60%;
  padding-bottom: 15px;
}
.imgopcre{
  width:54%;
  height: 54%;
  padding-bottom: 15px;
}
.textore {
  width: 60%;
  height: 10%;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  justify-content: center;
  margin: 0;
  margin-right: 0;
  margin-bottom: 100px;

}

.sesion {
  padding-top: 5px;
  margin-top: 25px;
  color: #014277;
  text-align: center;
  font-family: Abril Fatface;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;

}

.opcion {
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@keyframes go-back {
  0% {
    transform: translateY(50px);
  }

  70% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes go_barra {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
