<form class="example-form">
  <h2 class="header-form">INFORME</h2>
  <div class="buscador">
    <div class="colum">
      <form class="form">
        <label for="">Semestre</label>
        <select name="asd" class="select">
          <option value="" disabled selected>Seleccionar</option>
          <option value="1">2023-1</option>
          <option value="1">2023-2</option>
        </select>
      </form>
      <form class="form">
        <label for="">Facultad</label>
        <select name="asd" class="select">
          <option value="" disabled selected>Seleccionar</option>
          <option value="1">FIA</option>
          <option value="1">FACIHED</option>
          <option value="1">FCS</option>
          <option value="1">FACTEO</option>
        </select>
      </form>
      <form class="form">
        <label for="">EP</label>
        <select name="ads" class="select">
          <option value="" disabled selected>Seleccionar</option>
          <option value="1">Ingeniería ambiental</option>
          <option value="1">Ingeniería civil</option>
        </select>
      </form>
    </div>
  </div>

</form>
<div id="darforma">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>LA HORA DEL CÓDIGO</mat-card-title>
      <mat-card-subtitle>Números binarios</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br><br><br><br>
        <mat-card-footer>2023-2</mat-card-footer><br>
        <mat-card-footer>FIA</mat-card-footer><br>
        <mat-card-footer>Ingeniería de sistemas</mat-card-footer>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>LA HORA DEL CÓDIGO</mat-card-title>
      <mat-card-subtitle>Números binarios</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br><br><br><br>
        <mat-card-footer>2023-2</mat-card-footer><br>
        <mat-card-footer>FIA</mat-card-footer><br>
        <mat-card-footer>Ingeniería de sistemas</mat-card-footer>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>LA HORA DEL CÓDIGO</mat-card-title>
      <mat-card-subtitle>Números binarios</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br><br><br><br>
        <mat-card-footer>2023-2</mat-card-footer><br>
        <mat-card-footer>FIA</mat-card-footer><br>
        <mat-card-footer>Ingeniería de sistemas</mat-card-footer>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>LA HORA DEL CÓDIGO</mat-card-title>
      <mat-card-subtitle>Números binarios</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br><br><br><br>
        <mat-card-footer>2023-2</mat-card-footer><br>
        <mat-card-footer>FIA</mat-card-footer><br>
        <mat-card-footer>Ingeniería de sistemas</mat-card-footer>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>LA HORA DEL CÓDIGO</mat-card-title>
      <mat-card-subtitle>Sorting Networks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br><br><br><br>
        <mat-card-footer>2023-2</mat-card-footer><br>
        <mat-card-footer>FIA</mat-card-footer><br>
        <mat-card-footer>Ingeniería de sistemas</mat-card-footer>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VER</button>
    </mat-card-actions>
  </mat-card>
</div>
